body,
div,
span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/bg.jpg") no-repeat;
}

.bgBox {
    position: relative;
    transition: transform 2s linear;
    span {
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        background-image: linear-gradient(to top right, #fff 0%, pink 25%, hotpink 50%, yellow 75%, orange 100%);
        animation: ball_animate 20s infinite linear alternate;
    }
    span:nth-child(1) {
        top: 100px;
        left: 400px;
        width: 120px;
        height: 120px;
    }
    span:nth-child(2) {
        top: 100px;
        left: 464px;
        width: 120px;
        height: 120px;
    }
    span:nth-child(3) {
        top: 450px;
        left: 900px;
        width: 300px;
        height: 300px;
    }
    span:nth-child(4) {
        top: 40px;
        left: 20px;
        width: 30px;
        height: 30px;
    }
    span:nth-child(5) {
        top: 320px;
        right: 20px;
        width: 120px;
        height: 120px;
    }
    span:nth-child(6) {
        top: 20px;
        right: 20px;
        width: 82px;
        height: 82px;
    }
}

.otherSec {
    transform: rotateZ(20deg);
}

@keyframes ball_animate {
    from {
        transform: translateX(0) rotateZ(0deg)
    }
    to {
        transform: translateX(-999px) rotateZ(360deg)
    }
}

.section1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 第一屏部分代码开始 */

.section1 {
    position: relative;
    perspective: 1000px;
    .skinBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 1s; // width: 880px;
        // height: 320px;
        // animation: section1_animate 2s linear;
        img:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .s1_begin_status {
        transform: translate3d(-50%, -50%, 500px) rotateY(180deg);
    }
}

// @keyframes section1_animate {
//     from {transform: translate3d(-50%,-50%,500px) rotateY(180deg)}
//     to {transform: translate3d(-50%,-50%,0)}
// }
/* 第一屏部分代码结束 */

/* 第二屏部分代码开始 */
.section2 {
    perspective: 1000px;
}
.sec2TitleBox {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 316px; 
    transition: transform .5s linear;
    
}
.sec2TitleBox_begin_status {   
    transform: translate3d(-50%,-50%,-3000px);   
}
.sec2TitleBox_end_status {
    transform: translate3d(-50%,-50%,1000px);
}
/* 第二屏部分代码结束 */

/* 第三屏部分代码开始 */
.section3 {
    position: relative;
    perspective: 1000px;
    overflow: hidden;
    // transform: rotateX(30deg);
    .browserBox {
        position: absolute;
        bottom:0px;
        right:-130px;
        width: 1280px;
        height: 625px;
        border:1px solid #000;
        background-color: #fff;
        transform: rotateX(30deg);  
        transition: bottom 1s linear,right 1s linear;
    }
    .title {
        position: absolute;
        bottom : 400px;
        left: 80px;
        z-index: 20;
        transform: rotateX(30deg);
        transition: bottom 1s linear,left 1s linear;
    }
    .title_begin_status {
        bottom : 0px;
        left : 0px;
    }
    .browserBox_begin_status {
        bottom:-562px;
        right: -820px;
    }
}


/* 第三屏部分代码结束 */

/* 第一屏部分代码开始 */

/* 第一屏部分代码结束 */